@font-face {
  font-family: 'NotoSerif-Regular';
  src: url('~/assets/fonts/NotoSerif-Regular.ttf');
}

@font-face {
  font-family: 'EduVICWANTBeginner';
  src: url('~/assets/fonts/EduVICWANTBeginner.ttf');
}
